@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 8px;
  font-family: sans-serif;
  background-color: #222;
}
.ant-tag{
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 12px;
  line-height:22px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* background-color: rgb(143, 143, 143); */
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: rgb(155, 155, 155);  
}
